@model IEnumerable<CHXE.Models.NoiSanXuat>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-globe-americas"></i> Xuất Xứ 
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var item in Model)
        {
        
            <a class="dropdown-item" href="@Url.Action("XeTheoNoiSanXuat","Home",new {  id = item.ID})"><i class="fas fa-map-marked-alt"></i> @item.TenNoiSX</a>
        }
     </div>
</li>