@{
    ViewBag.Title = "Đăng ký";
}

<div class="main_content">
    <div class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="text-center order_complete mt-3">
                        <div class="heading_s1">
                            <h3>Bạn đã đăng ký thành công tài khoản!</h3>
                        </div>                      
                        <a href="@Url.Action("Login", "Home")" class="btn btn-outline-info">Đăng nhập ngay</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
