USE [ShopDongHo]
GO
/****** Object:  Table [dbo].[ChatLieu]    Script Date: 6/7/2021 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLieu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenChatLieu] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatHang]    Script Date: 6/7/2021 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NhanVien_ID] [int] NULL,
	[KhachHang_ID] [int] NULL,
	[DienThoaiGiaoHang] [nvarchar](20) NULL,
	[DiaChiGiaoHang] [nvarchar](255) NULL,
	[NgayDatHang] [datetime] NULL,
	[TinhTrang] [smallint] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatHang_ChiTiet]    Script Date: 6/7/2021 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatHang_ChiTiet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DatHang_ID] [int] NULL,
	[DongHo_ID] [int] NULL,
	[SoLuong] [smallint] NULL,
	[DonGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DongHo]    Script Date: 6/7/2021 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongHo](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ThuongHieu_ID] [int] NULL,
	[TenLoai_ID] [int] NULL,
	[ChatLieu_ID] [int] NULL,
	[XuatXu_ID] [int] NULL,
	[TenDongHo] [nvarchar](255) NULL,
	[MauSac] [nvarchar](255) NULL,
	[HanBaoHanh] [int] NULL,
	[DonGia] [int] NULL,
	[SoLuong] [int] NULL,
	[HinhAnhDH] [nvarchar](255) NULL,
	[MoTa] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/7/2021 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoVaten] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiDH]    Script Date: 6/7/2021 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiDH](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/7/2021 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[HoVaTen] [nvarchar](100) NULL,
	[DienThoai] [nvarchar](20) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[TenDangNhap] [nvarchar](50) NULL,
	[MatKhau] [nvarchar](255) NULL,
	[Quyen] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThuongHieu]    Script Date: 6/7/2021 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThuongHieu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenThuongHieu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XuatXu]    Script Date: 6/7/2021 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XuatXu](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenQG] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ChatLieu] ON 

INSERT [dbo].[ChatLieu] ([ID], [TenChatLieu]) VALUES (1, N'Nhựa')
INSERT [dbo].[ChatLieu] ([ID], [TenChatLieu]) VALUES (2, N'Thép')
INSERT [dbo].[ChatLieu] ([ID], [TenChatLieu]) VALUES (3, N'Cêramic')
SET IDENTITY_INSERT [dbo].[ChatLieu] OFF
GO
SET IDENTITY_INSERT [dbo].[DatHang] ON 

INSERT [dbo].[DatHang] ([ID], [NhanVien_ID], [KhachHang_ID], [DienThoaiGiaoHang], [DiaChiGiaoHang], [NgayDatHang], [TinhTrang]) VALUES (1, NULL, 1, N'0987456321', N'an giang', CAST(N'2021-05-18T18:55:05.723' AS DateTime), 0)
INSERT [dbo].[DatHang] ([ID], [NhanVien_ID], [KhachHang_ID], [DienThoaiGiaoHang], [DiaChiGiaoHang], [NgayDatHang], [TinhTrang]) VALUES (2, NULL, 1, N'0987654321', N'An Giang', CAST(N'2021-05-29T09:38:40.197' AS DateTime), 0)
INSERT [dbo].[DatHang] ([ID], [NhanVien_ID], [KhachHang_ID], [DienThoaiGiaoHang], [DiaChiGiaoHang], [NgayDatHang], [TinhTrang]) VALUES (3, NULL, 1, N'0987654321', N'Nghệ An', CAST(N'2021-05-29T21:04:09.430' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[DatHang] OFF
GO
SET IDENTITY_INSERT [dbo].[DatHang_ChiTiet] ON 

INSERT [dbo].[DatHang_ChiTiet] ([ID], [DatHang_ID], [DongHo_ID], [SoLuong], [DonGia]) VALUES (2, 2, 2, 1, 3000000)
INSERT [dbo].[DatHang_ChiTiet] ([ID], [DatHang_ID], [DongHo_ID], [SoLuong], [DonGia]) VALUES (4, 4, 7, 1, 3790000)
INSERT [dbo].[DatHang_ChiTiet] ([ID], [DatHang_ID], [DongHo_ID], [SoLuong], [DonGia]) VALUES (6, 6, 4, 1, 12990000)
SET IDENTITY_INSERT [dbo].[DatHang_ChiTiet] OFF
GO
SET IDENTITY_INSERT [dbo].[DongHo] ON 

SET IDENTITY_INSERT [dbo].[DongHo] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([ID], [HoVaten], [DienThoai], [DiaChi], [TenDangNhap], [MatKhau]) VALUES (1, N'Nguyễn Công Phượng', N'0987654123', N'Nghệ An ', N'ncphuong', N'7C4A8D09CA3762AF61E59520943DC26494F8941B')
INSERT [dbo].[KhachHang] ([ID], [HoVaten], [DienThoai], [DiaChi], [TenDangNhap], [MatKhau]) VALUES (4, N'Anh Đức', N'0987654321', N'TP HCM', N'anhduc', N'40bd001563085fc35165329ea1ff5c5ecbdbbeef')
INSERT [dbo].[KhachHang] ([ID], [HoVaten], [DienThoai], [DiaChi], [TenDangNhap], [MatKhau]) VALUES (5, N'cao văn đức thắng', N'0987654321', N'tri tôn', N'thang', N'40bd001563085fc35165329ea1ff5c5ecbdbbeef')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiDH] ON 

INSERT [dbo].[LoaiDH] ([ID], [TenLoai]) VALUES (1, N'Đồng hồ cơ')
INSERT [dbo].[LoaiDH] ([ID], [TenLoai]) VALUES (3, N'Đồng hồ thông minh')
INSERT [dbo].[LoaiDH] ([ID], [TenLoai]) VALUES (4, N'Đồng hồ pin')
SET IDENTITY_INSERT [dbo].[LoaiDH] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([ID], [HoVaTen], [DienThoai], [DiaChi], [TenDangNhap], [MatKhau], [Quyen]) VALUES (1, N'Nguyễn Văn A', N'0987654321', N'An Giang', N'admin', N'40bd001563085fc35165329ea1ff5c5ecbdbbeef', 1)
INSERT [dbo].[NhanVien] ([ID], [HoVaTen], [DienThoai], [DiaChi], [TenDangNhap], [MatKhau], [Quyen]) VALUES (3, N'Xuân Trường', N'0987456233', N'cần thơ', N'user', N'7c4a8d09ca3762af61e59520943dc26494f8941b', 0)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[ThuongHieu] ON 

INSERT [dbo].[ThuongHieu] ([ID], [TenThuongHieu]) VALUES (3, N'Hublot')
INSERT [dbo].[ThuongHieu] ([ID], [TenThuongHieu]) VALUES (4, N'Rolex')
INSERT [dbo].[ThuongHieu] ([ID], [TenThuongHieu]) VALUES (5, N'Casio')
SET IDENTITY_INSERT [dbo].[ThuongHieu] OFF
GO
SET IDENTITY_INSERT [dbo].[XuatXu] ON 

INSERT [dbo].[XuatXu] ([ID], [TenQG]) VALUES (1, N'Mỹ')
INSERT [dbo].[XuatXu] ([ID], [TenQG]) VALUES (2, N'Anh')
INSERT [dbo].[XuatXu] ([ID], [TenQG]) VALUES (3, N'Pháp')
SET IDENTITY_INSERT [dbo].[XuatXu] OFF
GO
ALTER TABLE [dbo].[DatHang]  WITH CHECK ADD FOREIGN KEY([KhachHang_ID])
REFERENCES [dbo].[KhachHang] ([ID])
GO
ALTER TABLE [dbo].[DatHang]  WITH CHECK ADD FOREIGN KEY([NhanVien_ID])
REFERENCES [dbo].[NhanVien] ([ID])
GO
ALTER TABLE [dbo].[DatHang_ChiTiet]  WITH CHECK ADD FOREIGN KEY([DatHang_ID])
REFERENCES [dbo].[DatHang] ([ID])
GO
ALTER TABLE [dbo].[DatHang_ChiTiet]  WITH CHECK ADD FOREIGN KEY([DongHo_ID])
REFERENCES [dbo].[DongHo] ([ID])
GO
ALTER TABLE [dbo].[DongHo]  WITH CHECK ADD FOREIGN KEY([ChatLieu_ID])
REFERENCES [dbo].[ChatLieu] ([ID])
GO
ALTER TABLE [dbo].[DongHo]  WITH CHECK ADD FOREIGN KEY([TenLoai_ID])
REFERENCES [dbo].[LoaiDH] ([ID])
GO
ALTER TABLE [dbo].[DongHo]  WITH CHECK ADD FOREIGN KEY([ThuongHieu_ID])
REFERENCES [dbo].[ThuongHieu] ([ID])
GO
ALTER TABLE [dbo].[DongHo]  WITH CHECK ADD FOREIGN KEY([XuatXu_ID])
REFERENCES [dbo].[XuatXu] ([ID])
GO
