@{
    ViewBag.Title = "Quản Trị Best Supercars";
}


<div class="card mt-2 w-100 h-100">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body w-100 h-100">
        <div class="jumbotron text-center vh-100">
            <h1 class="display-4 text-xl-center mt-5">Hello</h1>
            <p class="lead">Chào Mừng Đến Quản Trị Best Supercars!</p>
            <hr class="my-4">

        </div>
    </div>
</div>

