@{
    ViewBag.Title = "Không đủ quyền hạng";
}


<div class="card mt-2 w-100 h-100">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body w-100 h-100">
        <div class="jumbotron text-center vh-100">
            <h1 class="display-4 text-xl-center mt-5">Sorry</h1>
            <p class="card-text">Người dùng không đủ quyền hạn truy cập chức năng này!!.</p>
            <hr class="my-4">

        </div>
    </div>
</div>

