
<div class="container ">
    <p class="text-center" style="color:#43c8eb; font-weight:bold; font-size:2rem">Chào mừng đến với trang quản trị của <strong>ThreeT Travel</strong></p>
    <script src="https://cdn.lordicon.com/libs/mssddfmo/lord-icon-2.1.0.js"></script>
   
</div>