@{
    ViewBag.Title = "Trang Chủ";
}

<div class="card mt-3">
    <h5 class="card-header">@ViewBag.Title</h5>
    <div class="card-body">
        <p class="card-text">Nội dung trang chủ đang cập nhật.</p>
    </div>
</div>